/* style.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  color: white; /* Set text color to white */
}

h1 {
  padding-color: hsl(210 100% 50%);
  display: flex;
  position: sticky;
  top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact;
}

/* Header styles */
h1, nav {
  padding: 10px;
  text-align: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
  }

/* Navigation styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

/* About Me section styles */
#aboutme {
  margin: 20px;
}

p {
  line-height: 1.5;
}

em {
  font-style: italic;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Training section styles */
#training {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid #FFF;
}

/* Link Styles */
li a, pageNav {
  background: hsl(210 100% 50%);
  border: 1px solid hsl(210 100% 50%);
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 14px;
}

li a:hover, pageNav:hover{
  background: white;
  border: 1px solid hsl(210 100% 50%);
  color: hsl(210 100% 50%);
}

/* Media section styles */
#media {
  margin: 20px;
}

.instagram-media {
  display: flex;
  justify-content: center;
  background: #333;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}
